PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/portfolio_db?retryWrites=true&w=majority
ADMIN_USERNAME=sakshi.ptr7@gmail.com
ADMIN_PASSWORD=sakshi@3313
GMAIL_USER=sakshi.ptr7@gmail.com
GMAIL_APP_PASSWORD=16_digit_app_password_here
MAIL_TO=sakshi.ptr16@gmail.com
